<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Material Design 前端框架</title>
    <link rel="stylesheet" href="//mdui-aliyun.cdn.w3cbus.com/source/dist/css/mdui.min.css?v=0.4.0"/>
    <link rel="stylesheet" href="//mdui-aliyun.cdn.w3cbus.com/docs/assets/highlight-9.12.0/styles/github-gist.css"/>
    <link rel="stylesheet" href="//mdui-aliyun.cdn.w3cbus.com/docs/assets/highlight-9.12.0/styles/railscasts.css"/>
    <link rel="stylesheet" href="//mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/css/docs.css?v=20170815"/>
</head>
<body>
<div class="mdui-container doc-container">
    <h1 class="doc-title mdui-text-color-theme">关于我</h1>
    <div class="mdui-col-xs-12">
        <div class="mdui-col-xs-12 mdui-col-sm-12">
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-tab mdui-tab-full-width" mdui-tab >
                    <a href="#example1-tab1" class="mdui-ripple">
                        <i class="mdui-icon material-icons">accessibility</i>
                        <label>个人资料</label>
                    </a>
                    <a href="#example1-tab2" class="mdui-ripple">
                        <i class="mdui-icon material-icons">favorite</i>
                        <label>关注者</label>
                    </a>
                    <a href="#example1-tab3" class="mdui-ripple">
                        <i class="mdui-icon material-icons">av_timer</i>
                        <label>博客历程</label>
                    </a>
                </div>
                <div id="example1-tab1" class="mdui-p-a-2" >
                    <div class="mdui-col-xs-12 mdui-col-sm-12" id="aboutMyself">

                    </div>
                </div>

                <div id="example1-tab2" class="mdui-p-a-2">
                    <div class="mdui-typo">
                        <hr/>
                    </div>

                    <div class="mdui-tab mdui-tab-centered" mdui-tab>
                        <a href="#example1-tab11" class="mdui-ripple">Followers</a>
                        <a href="#example1-tab22" class="mdui-ripple">Following</a>
                    </div>
                    <div id="example1-tab11" class="mdui-p-a-2">
                        <div class="mdui-col-xs-12 mdui-col-sm-6">
                            <br>
                            <ul class="mdui-list">
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src=""/></div>
                                    <div class="mdui-list-item-content">Brendan Lim</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src=""/></div>
                                    <div class="mdui-list-item-content">me, Scott, Jennifer</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src=""/></div>
                                    <div class="mdui-list-item-content">Grace Ng</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src=""/></div>
                                    <div class="mdui-list-item-content">Kerem Suer</div>
                                </li>
                            </ul>
                        </div>
                        <div class="mdui-col-xs-12 mdui-col-sm-6">
                            <div class="mdui-typo-display-4-opacity">Display 4</div>
                        </div>
                    </div>
                    <div id="example1-tab22" class="mdui-p-a-2">

                        <div class="mdui-col-xs-12 mdui-col-sm-6">
                            <br>
                            <ul class="mdui-list">
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src="https://mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/img/avatar4.jpg"/></div>
                                    <div class="mdui-list-item-content">Brendan Lim</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src="https://mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/img/avatar4.jpg"/></div>
                                    <div class="mdui-list-item-content">me, Scott, Jennifer</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src="https://mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/img/avatar4.jpg"/></div>
                                    <div class="mdui-list-item-content">Grace Ng</div>
                                </li>
                                <li class="mdui-list-item mdui-ripple">
                                    <div class="mdui-list-item-avatar"><img src="https://mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/img/avatar4.jpg"/></div>
                                    <div class="mdui-list-item-content">Kerem Suer</div>
                                </li>
                            </ul>

                        </div>
                        <div class="mdui-col-xs-12 mdui-col-sm-6">
                            <div class="mdui-typo-display-4-opacity">Display 4</div>
                        </div>

                    </div>


                </div>
                <div id="example1-tab3" class="mdui-p-a-2">images content</div>
            </div>
    </div>
    </div>
</div>
</body>
<script src="/mavenSpringMVC/js/init.js"></script>
<script src="//mdui-aliyun.cdn.w3cbus.com/docs/assets/smooth-scroll-11.1.0/smooth-scroll.min.js"></script>
<script src="//mdui-aliyun.cdn.w3cbus.com/docs/assets/holder-2.9.4/holder.min.js"></script>
<script src="//mdui-aliyun.cdn.w3cbus.com/docs/assets/highlight-9.12.0/highlight.pack.js"></script>
<script src="//mdui-aliyun.cdn.w3cbus.com/source/dist/js/mdui.min.js?v=0.4.0"></script>
<script>

</script>
<script src="//mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/js/docs.js?v=20170815"></script>

</html>