<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="//mdui-aliyun.cdn.w3cbus.com/source/dist/css/mdui.min.css"/>
</head>
<body  class=" mdui-color-grey-200">

<div class="mdui-container">
    <br><br>
    <div class="mdui-card ">
        <div class="mdui-col-xs-12">

            <div class="mdui-row">
                <br>
                <img class="mdui-img-circle mdui-center" width="100" src="//mdui-aliyun.cdn.w3cbus.com/docs/assets/docs/img/avatar1.jpg"/>
                <br>
                <div class="mdui-typo-caption-opacity  mdui-text-center">
                    We missed a good coffee shop that you believe should be on our list? Please let us know!&nbsp;If you can find their Facebook page, it would really speed up our review process.
                </div>
            </div>
        </div>
        <div class="mdui-col-xs-12">
            <div class="mdui-col-xs-12 mdui-col-sm-6">

                <div class="mdui-row">
                    <div class="mdui-textfield mdui-textfield-floating-label ">
                        <i class="mdui-icon material-icons">email</i>
                        <label class="mdui-textfield-label">Email</label>
                        <input id="email" class="mdui-textfield-input" type="email" required/>
                    </div>
                </div>
                <div class="mdui-row">
                    <!-- 浮动标签、多行文本框 -->
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">lock</i>
                        <label class="mdui-textfield-label">Password</label>
                        <input id="password" type="password" class="mdui-textfield-input"  required/>
                    </div>
                </div>
                <div class="mdui-row">
                    <!-- 浮动标签、多行文本框 -->
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">beenhere</i>
                        <label class="mdui-textfield-label">Password</label>
                        <input id="twoPassword" type="password" class="mdui-textfield-input"  required/>
                    </div>
                </div>

                </div>


            <div class="mdui-col-xs-12 mdui-col-sm-6">

                <div class="mdui-row">
                    <div class="mdui-textfield mdui-textfield-floating-label ">
                        <i class="mdui-icon material-icons">insert_emoticon</i>
                        <label class="mdui-textfield-label">nickName</label>
                        <input id="nickName" class="mdui-textfield-input" type="text"  required/>
                    </div>
                </div>
                <div class="mdui-row">
                    <!-- 浮动标签、多行文本框 -->
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">phone</i>
                        <label class="mdui-textfield-label">Phone</label>
                        <input id="phone" type="number" class="mdui-textfield-input" required/>
                    </div>
                </div>
                <div class="mdui-row">
                    <!-- 浮动标签、多行文本框 -->
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">location_on</i>
                        <label class="mdui-textfield-label">Location</label>
                        <input id="location" type="text" class="mdui-textfield-input"  required/>
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-text-right">
                    <label class="mdui-checkbox">
                        <input type="checkbox"/>
                        <i class="mdui-checkbox-icon"></i>
                        <button class="mdui-btn mdui-ripple">同意我们的服务以及条款</button>
                    </label>
                    </div>
                </div>
                <div class="mdui-row">

                    <br>
                    <div class="mdui-text-right">
                        <button onclick="userRegister()"  id="snakeBar" class="mdui-btn mdui-btn-raised mdui-ripple ">Register</button>
                        <button onclick="toLogin()"  id="#" class="mdui-btn mdui-btn-raised mdui-ripple ">Login in</button>
                    </div>
                </div>
                <div class="mdui-row">
                    <br>

                </div>
            </div>
        </div>
        <div class="mdui-col-xs-12 mdui-text-center">
            <div class="mdui-typo-caption-opacity">Copyright Example Company © 2014-2015</div>
            <br>
        </div>

    </div>
</div>




</div>

</body>
<script src="//mdui-aliyun.cdn.w3cbus.com/source/dist/js/mdui.min.js"></script>
<script src="/mavenSpringMVC/js/jquery-3.2.1.min.js"></script>
<script src="/mavenSpringMVC/js/ajax.js"></script>
<script src="/mavenSpringMVC/js/init.js"></script>

</html>